@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Poppins", sans-serif;
    background: #ffffff;
    color: #111827;
  }

  ::selection {
    background: #7c3aed;
    color: white;
  }
  html {
    scroll-behavior: smooth;
  }

  html,
  body {
    overflow-x: hidden;
  }

  #root {
    overflow-x: hidden;
  }
}